<IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteRule ^index\.html$ - [L]
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-l
#   RewriteRule . /index.html [L]
#   RewriteRule (.*) http://localhost:1993/$1 [P,L]
#   RewriteCond %{REQUEST_URI} ^/api/(guard|getter|inquiry) [NC]
#   RewriteRule ^ /index.html [L]
RewriteEngine On

# Need to disable DirectoryIndex to avoid rewriting directory URL to index.html
DirectoryIndex disabled

# Redirect home page request to the NextJS server
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ http://127.0.0.1:1993/ [P,L]

# Redirect all other requests to the NextJS server with the URI appended
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://127.0.0.1:1993/$1 [P,L]
</IfModule>