@font-face {
	font-family: "Light";
	src: url("/fonts/inter/light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Regular";
	src: url("/fonts/inter/regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Medium";
	src: url("/fonts/inter/medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SemiBold";
	src: url("/fonts/inter/semi_bold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Bold";
	src: url("/fonts/inter/bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

:root {
	--bold: "Bold", Arial, sans-serif;
	--light: "Light", Arial, sans-serif;
	--medium: "Medium", Arial, sans-serif;
	--regular: "Regular", Arial, sans-serif;
	--semibold: "SemiBold", Arial, sans-serif;
}

@tailwind base;

@layer base {
	img {
		@apply inline-block;
	}
	body {
		font-family: var(--font-family);
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@tailwind components;
@tailwind utilities;

[app-theme="dark"] {
	--contrast: #333333;

	--blue: #0e72cf;

	--gray: #444444;
	--gray-transparent-01: rgba(68, 68, 68, 0.1);

	--green: #107c10;
	--green-transparent-01: rgba(16, 124, 16, 0.1);

	--light-gray: #555555;
	--light-slate-gray: #666666;

	--logo-green: #455526;
	--logo-green-transparent-01: rgba(69, 85, 38, 0.1);

	--orange: #ff9900;
	--orange-transparent-01: rgba(255, 153, 0, 0.1);

	--primary: #0078d4;
	--primary-background: #2e2e2e;
	--primary-border: #222222;
	--primary-transparent-01: rgba(51, 102, 153, 0.1);
	--primary-transparent-05: rgba(51, 102, 153, 0.5);

	--red: #e31937;
	--red-transparent-01: rgba(227, 25, 55, 0.1);

	--text: #ffffff;
	--white: #ffffff;

	--yellow: #ffda03;
	--yellow-transparent-01: rgba(255, 218, 3, 0.1);
}

[app-theme="light"] {
	--contrast: #fff;

	--blue: #093e52;
	--blue-transparent-01: #093e5219;

	--gray: #b0b0b0;
	--gray-transparent-01: rgba(176, 176, 176, 0.1);

	--green: #107c10;
	--green-transparent-01: rgba(16, 124, 16, 0.1);

	--light-gray: #f5f5f5;
	--light-slate-gray: #9e9e9e;

	--logo-green: #455526;
	--logo-green-transparent-01: rgba(69, 85, 38, 0.1);

	--orange: #ff9900;
	--orange-transparent-01: rgba(255, 153, 0, 0.1);

	--primary: #336699;
	--primary-background: #e0e0e0;
	--primary-border: #e0e0e0;
	--primary-transparent-01: rgba(51, 102, 153, 0.1);
	--primary-transparent-05: rgba(51, 102, 153, 0.5);

	--red: #d62121;
	--red-transparent-01: rgba(229, 9, 20, 0.1);

	--text: #232f33;
	--white: #232f33;

	--yellow: #ffda03;
	--yellow-transparent-01: rgba(255, 218, 3, 0.1);
}

body,
html {
	@apply bg-[var(--gray-transparent-01)] m-0 p-0;
	-moz-osx-font-smoothing: auto;
	font-synthesis: none;
	font-feature-settings: "cpsp" 1;
	scrollbar-width: thin;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.black-text {
	@apply text-[var(--text)];
}

.blink {
	animation: blink-fade-animation 1s ease-in-out infinite;
	-webkit-animation: blink-fade-animation 1s ease-in-out infinite;
}

/*******************/
/*******************/
/****Backgrounds****/
/*******************/
/*******************/

.contrast-background {
	@apply bg-[var(--contrast)];
}

.gray-background {
	@apply bg-[var(--gray)];
}

.gray-background-transparent-01 {
	@apply bg-[var(--gray-transparent-01)];
}

.green-background {
	@apply bg-[var(--green)];
}

.green-background-gradient {
	background: linear-gradient(to bottom, var(--green), #000);
}

.green-background-transparent-01 {
	@apply bg-[var(--green-transparent-01)];
}

.light-gray-background {
	@apply bg-[var(--light-gray)];
}

.logo-green-background {
	@apply bg-[var(--logo-green)];
}

.logo-green-background-transparent-01 {
	@apply bg-[var(--logo-green-transparent-01)];
}

.orange-background {
	@apply bg-[var(--orange)];
}

.orange-background-gradient {
	background: linear-gradient(to bottom, var(--orange), #000);
}

.orange-background-transparent-01 {
	@apply bg-[var(--orange-transparent-01)];
}

.primary-background {
	@apply bg-[var(--primary)];
}

.primary-background-gradient {
	background: linear-gradient(to bottom, var(--primary), #000);
}

.primary-background-transparent-01 {
	@apply bg-[var(--primary-transparent-01)];
}

.primary-background-transparent-05 {
	@apply bg-[var(--primary-transparent-05)];
}

.red-background {
	@apply bg-[var(--red)];
}

.red-background-gradient {
	background: linear-gradient(to bottom, var(--red), #000);
}

.red-background-transparent-01 {
	@apply bg-[var(--red-transparent-01)];
}

/*******************/
/*******************/
/******Borders******/
/*******************/
/*******************/

.blue-border {
	@apply border border-[var(--blue)];
}

.bottom-border {
	@apply border-b border-b-[var(--primary-border)];
}

.full-border {
	@apply border border-[var(--primary-border)];
}

.gray-border {
	@apply border border-[var(--gray)];
}

.green-border {
	@apply border border-[var(--green)];
}

.left-border {
	@apply border-l border-[var(--primary-border)];
}

.logo-green-border {
	@apply border border-[var(--logo-green)];
}

.logo-green-border-colour {
	@apply border-[var(--logo-green)];
}

.no-right-border {
	@apply border-r-0;
}

.no-top-border {
	border-top: none;
}

.orange-border {
	@apply border border-[var(--orange)];
}

.primary-border {
	@apply border border-[var(--primary)];
}

.primary-border-colour {
	@apply border-[var(--primary)];
}

.primary-bottom-border-transparent-05 {
	@apply border-b-2 border-[var(--primary-transparent-05)];
}

.red-border {
	@apply border border-[var(--red)];
}

.red-bottom-border {
	@apply border-b border-b-[var(--red)];
}

.right-border {
	@apply border-r border-[var(--primary-border)];
}

.top-border {
	@apply border-t border-t-[var(--primary-border)];
}

.yellow-border {
	@apply border border-[var(--yellow)];
}

/*******************/
/*******************/
/******Colours******/
/*******************/
/*******************/

.black-text {
	@apply text-[var(--white)];
}

.blue-text {
	@apply text-[var(--blue)];
}

.gray-text {
	@apply text-[var(--gray)];
}

.green-text {
	@apply text-[var(--green)];
}

.light-slate-gray-text {
	@apply text-[var(--light-slate-gray)];
}

.logo-green-text {
	@apply text-[var(--logo-green)];
}

.orange-text {
	@apply text-[var(--orange)];
}

.primary-text {
	@apply text-[var(--primary)];
}

.red-text {
	@apply text-[var(--red)];
}

/*****************/
/*****************/
/******Fonts******/
/*****************/
/*****************/

.font-bold-10 {
	@apply text-[10pt] font-bold;
	font-family: var(--bold);
}

.font-bold-12 {
	@apply text-base font-bold;
	font-family: var(--bold);
}

.font-bold-14 {
	@apply text-[14pt] font-bold;
	font-family: var(--bold);
}

.font-bold-16 {
	@apply text-[16pt] font-bold;
	font-family: var(--bold);
}

.font-bold-20 {
	@apply text-[20pt] font-bold;
	font-family: var(--bold);
}

.font-bold-26 {
	@apply text-[26pt] font-bold;
	font-family: var(--bold);
}

.font-medium-10 {
	@apply text-[10pt] font-medium;
	font-family: var(--medium);
}

.font-medium-11 {
	@apply text-[11pt] font-medium;
	font-family: var(--medium);
}

.font-medium-12 {
	@apply text-base font-medium;
	font-family: var(--medium);
}

.font-medium-13 {
	@apply text-[13pt] font-medium;
	font-family: var(--medium);
}

.font-medium-14 {
	@apply text-[14pt] font-medium;
	font-family: var(--medium);
}

.font-medium-16 {
	@apply text-[16pt] font-medium;
	font-family: var(--medium);
}

.font-medium-18 {
	@apply text-[18pt] font-medium;
	font-family: var(--medium);
}

.font-medium-20 {
	@apply text-[20pt] font-medium;
	font-family: var(--medium);
}

.font-medium-22 {
	@apply text-[22pt] font-medium;
	font-family: var(--medium);
}

.font-medium-26 {
	@apply text-[26pt] font-medium;
	font-family: var(--medium);
}

.font-medium-8 {
	@apply text-[8pt] font-medium;
	font-family: var(--medium);
}

.font-medium-9 {
	@apply text-[9pt] font-medium;
	font-family: var(--medium);
}

.font-regular-7 {
	@apply text-[7pt] font-normal;
	font-family: var(--medium);
}

.font-regular-8 {
	@apply text-[8pt] font-normal;
	font-family: var(--regular);
}

.font-regular-10 {
	@apply text-[10pt] font-normal;
	font-family: var(--regular);
}

.font-regular-11 {
	@apply text-[11pt] font-normal;
	font-family: var(--regular);
}

.font-regular-12 {
	@apply text-base font-normal;
	font-family: var(--regular);
}

.font-regular-14 {
	@apply text-[14pt] font-normal;
	font-family: var(--regular);
}

.font-regular-16 {
	@apply text-[16pt] font-normal;
	font-family: var(--regular);
}

.font-regular-8 {
	@apply text-[8pt] font-normal;
	font-family: var(--regular);
}

.font-regular-9 {
	@apply text-[9pt] font-normal;
	font-family: var(--regular);
}

.font-semibold-10 {
	@apply text-[10pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-12 {
	@apply text-base font-semibold;
	font-family: var(--semibold);
}

.font-semibold-14 {
	@apply text-[14pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-16 {
	@apply text-[16pt] font-semibold;
	font-family: var(--semibold);
}

/******************/
/******************/
/*******Tags*******/
/******************/
/******************/

.blue-tag {
	@apply bg-[var(--blue)] py-0.5 px-1.5 rounded text-white;
}

.blue-tag-transparent-01 {
	@apply bg-[var(--blue-transparent-01)] border border-[var(--blue)] py-0.5 px-1.5 rounded text-[var(--blue)];
}

.gray-tag-transparent-01 {
	@apply bg-[var(--gray-transparent-01)] border border-[var(--gray)] px-1.5 py-0.5 rounded text-[var(--gray)];
	font-family: var(--regular);
}

.green-tag {
	@apply bg-[var(--green)] py-0.5 px-1.5 rounded text-white;
}

.green-tag-transparent-01 {
	@apply bg-[var(--green-transparent-01)] border border-[var(--green)] py-0.5 px-1.5 rounded text-[var(--green)];
}

.orange-tag {
	@apply bg-[var(--orange)] py-0.5 px-1.5 rounded text-white;
}

.orange-tag-transparent-01 {
	@apply bg-[var(--orange-transparent-01)] border border-[var(--orange)] py-0.5 px-1.5 rounded text-[var(--orange)];
}

.primary-tag-transparent-01 {
	@apply bg-[var(--primary-transparent-01)] border border-[var(--primary)] p-1 rounded text-xs text-[var(--primary)];
	font-family: var(--regular);
}

.red-tag {
	@apply bg-[#e31937] py-0.5 px-1.5 rounded text-white;
}

.red-tag-transparent-01 {
	@apply bg-[var(--red-transparent-01)] border border-[var(--red)] p-1 rounded text-xs text-[var(--red)];
	font-family: var(--regular);
}

.red-tag-transparent-02 {
	@apply bg-[var(--red-transparent-01)] border border-[var(--red)] py-0.5 px-1.5 rounded text-[var(--red)];
}

/*******************/
/*******************/
/******Buttons******/
/*******************/
/*******************/

.primary-button-condensed {
	@apply bg-[var(--primary)] border border-[var(--primary)] flex h-7 justify-center items-center outline-none px-4 relative rounded-full select-none space-x-2.5 text-base text-white;
	font-family: var(--regular);
}

.primary-button-transparent-background {
	@apply bg-[var(--primary-transparent-01)] border flex primary-border h-7 items-center justify-center outline-none px-2 rounded-full select-none space-x-2.5 text-sm text-[var(--primary)];
	font-family: var(--medium);
}

.primary-button-wide {
	@apply bg-[var(--primary)] block border border-[var(--primary)] h-9 outline-none relative rounded-full select-none text-base text-white w-full;
	font-family: var(--regular);
}

.primary-button-condensed:active,
.primary-button-transparent-background:active,
.primary-button-wide:active {
	border: 1px solid rgba(0, 0, 0, 0.7);
	box-shadow: inset -1px -1px 1px 1px rgba(255, 255, 255, 0.3);
	text-decoration: none;
}

/*********************/
/*********************/
/****Miscellaneous****/
/*********************/
/*********************/

.bottom-shadow {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.06), 0 1px 1px -1px rgb(0 0 0 / 0.06);
	-moz-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.06), 0 1px 1px -1px rgb(0 0 0 / 0.06);
	-webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.06), 0 1px 1px -1px rgb(0 0 0 / 0.06);
}

.dashboard-heading,
.view-heading {
	@apply text-[var(--primary)] text-[16pt];
	font-family: var(--semibold);
}

.dialog-footer {
	@apply bg-[var(--primary-transparent-01)] border-t border-t-[var(--primary-border)] flex items-center justify-center px-5 py-2.5 relative space-x-2 z-10;
}

.dialog-header {
	@apply bg-[var(--primary)] bottom-border flex items-center justify-between px-5 py-1.5 text-[16pt] text-white;
	font-family: var(--medium);
}

.highlight-characters {
	@apply bg-[yellow] border-[0.5px] border-[var(--gray)] font-bold rounded text-black;
	padding-inline: 1px;
}

.hovered-rows-white:hover {
	@apply bg-[var(--light-gray)] rounded-sm text-[var(--primary)];
}

.hovered-rows:hover {
	@apply bg-[var(--primary-transparent-01)] border-t border-[var(--primary-transparent-05)];
}

.hovered-rows-2:hover {
	@apply bg-[var(--primary-transparent-01)] border-b border-[var(--primary-transparent-05)];
}

.inputs {
	@apply bg-transparent flex items-center justify-center outline-none px-2.5 text-[11pt] h-9 black-text w-full;
	font-family: var(--regular);
}

.login-heading {
	@apply text-[var(--primary)] text-[28pt];
	font-family: var(--semibold);
}

.login-spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	margin-top: -7.5px;
	margin-left: -7.5px;
	border-radius: 50%;
	border: 2px solid #fff;
	border-top-color: var(--primary);
	animation: spinner 0.5s linear infinite;
}

.scrollbar-gutter {
	scrollbar-gutter: stable;
}

.small-spinner-white:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #fff;
	animation: spinner 0.5s linear infinite;
}

.small-spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: var(--primary);
	animation: spinner 0.5s linear infinite;
}

.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: var(--primary);
	animation: spinner 0.5s linear infinite;
}

.textarea-inputs {
	@apply bg-transparent flex items-center justify-center outline-none px-2.5 resize-none text-[11pt] black-text w-full;
	font-family: var(--regular);
}

#invoicePreviewWrapper > #invoiceWrapper {
	width: 100%;
}

/*****************/
/*****************/
/****3rd Party****/
/*****************/
/*****************/

.react-datepicker {
	@apply !text-[9pt];
	font-family: var(--regular) !important;
}

.react-datepicker-popper {
	@apply !z-[60];
}

.react-datepicker-wrapper {
	@apply !pl-[5px] !w-full;
}

.Toastify__toast-body {
	font-family: var(--medium);
	font-size: medium;
	white-space: pre-line;
}

/*********************/
/*********************/
/***Native Elements***/
/*********************/
/*********************/

@keyframes blink-fade-animation {
	0% {
		opacity: 1; /* Fully visible */
	}
	50% {
		opacity: 0; /* Fully invisible (fade-out) */
	}
	100% {
		opacity: 1; /* Fully visible again (fade-in) */
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: #f0f0f0;
	border-radius: 4px;
}
