@font-face {
	font-family: "Regular";
	src: url("/fonts/inter/regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Medium";
	src: url("/fonts/inter/medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "SemiBold";
	src: url("/fonts/inter/semi_bold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bold";
	src: url("/fonts/inter/bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--bold: "Bold", Arial, sans-serif;
	--medium: "Medium", Arial, sans-serif;
	--regular: "Regular", Arial, sans-serif;
	--semibold: "SemiBold", Arial, sans-serif;
}

@tailwind base;

@layer base {
	img {
		@apply inline-block;
	}
	body {
		font-family: var(--font-family);
		font-feature-settings: "cpsp" 1, /* Capital spacing */ "cv05" 1, /* Custom stylistic variant 5 */ "cv06" 1, /* Custom stylistic variant 6 */ "cv08" 1, /* Custom stylistic variant 8 */ "cv11" 1,
			/* Custom stylistic variant 11 */ "cv13" 1, /* Custom stylistic variant 13 */ "kern" 1, /* Kerning */ "ss03" 1; /* Stylistic set 3 */
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@tailwind components;
@tailwind utilities;

[app-theme="dark"] {
	--contrast: #333333;

	--blue: #0e72cf;

	--gray: #444444;
	--gray-transparent-01: rgba(68, 68, 68, 0.1);

	--green: #107c10;
	--green-transparent-01: rgba(16, 124, 16, 0.1);

	--light-slate-gray: #666666;

	--logo-green: #455526;
	--logo-green-transparent-01: rgba(69, 85, 38, 0.1);

	--orange: #ff9900;
	--orange-transparent-01: rgba(255, 153, 0, 0.1);

	--primary: #193a6f;
	--primary-background: #2e2e2e;
	--primary-border: #222222;
	--primary-light: rgba(51, 102, 153, 0.05);
	--primary-transparent-01: rgba(25, 58, 111, 0.1);
	--primary-transparent-05: rgba(25, 58, 111, 0.5);

	--red: #e31937;
	--red-transparent-01: rgba(227, 25, 55, 0.1);
	--red-transparent-05: rgba(227, 25, 55, 0.5);

	--text: #ffffff;
	--white: #ffffff;

	--yellow: #ffda03;
	--yellow-transparent-01: rgba(255, 218, 3, 0.1);
}

[app-theme="light"] {
	--contrast: #fff;

	--blue: #093e52;
	--blue-transparent-01: #093e5219;

	--gray: #a8a8a8;
	--gray-transparent-01: rgba(168, 168, 168, 0.1);
	--gray-transparent-02: rgba(168, 168, 168, 0.2);
	--gray-transparent-05: rgba(168, 168, 168, 0.5);

	--green: #3a985e;
	--green-transparent-01: rgba(58, 152, 94, 0.1);

	--light-slate-gray: #bbb;

	--logo-green: #455526;
	--logo-green-transparent-01: rgba(69, 85, 38, 0.1);

	--orange: #d87f2f;
	--orange-transparent-01: rgba(216, 127, 47, 0.1);

	--primary: #193a6f;
	--primary-background: #f4f7fc;
	--primary-border: #d6dee8;
	--primary-light: #ecf1fa;
	--primary-transparent-005: rgba(25, 58, 111, 0.05);
	--primary-transparent-01: rgba(25, 58, 111, 0.1);
	--primary-transparent-05: rgba(25, 58, 111, 0.5);

	--red: #b33a3a;
	--red-transparent-01: rgba(179, 58, 58, 0.1);
	--red-transparent-05: rgba(179, 58, 58, 0.5);

	--text: #2d3e50;
	--white: #2d3e50;

	--yellow: #e5b72b;
	--yellow-transparent-01: rgba(229, 183, 43, 0.1);
}

body,
html {
	@apply bg-[var(--primary-transparent-01)] m-0 p-0;
	-moz-osx-font-smoothing: auto;
	font-synthesis: none;
	scrollbar-width: thin;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.black-text {
	@apply text-[var(--text)];
}

.blink {
	animation: blink-fade-animation 1s ease-in-out infinite;
	-webkit-animation: blink-fade-animation 1s ease-in-out infinite;
}

/*******************/
/*******************/
/****Backgrounds****/
/*******************/
/*******************/

.dashboard-blue-1 {
	@apply bg-[#11224D];
}

.dashboard-blue-2 {
	@apply bg-[#193A6F];
}

.dashboard-blue-3 {
	@apply bg-[#2C599D];
}

.dashboard-blue-4 {
	@apply bg-[#5B84C4];
}

.dashboard-orange-1 {
	@apply bg-[#F98125];
}

.dashboard-orange-2 {
	@apply bg-[#FB9B50];
}

.blue-background {
	@apply bg-[var(--blue)];
}

.blue-background-transparent-01 {
	@apply bg-[var(--blue-transparent-01)];
}

.contrast-background {
	@apply bg-[var(--contrast)];
}

.gray-background {
	@apply bg-[var(--gray)];
}

.gray-background-transparent-01 {
	@apply bg-[var(--gray-transparent-01)];
}

.gray-background-transparent-02 {
	@apply bg-[var(--gray-transparent-02)];
}

.gray-background-transparent-05 {
	@apply bg-[var(--gray-transparent-05)];
}

.green-background {
	@apply bg-[var(--green)];
}

.green-background-gradient {
	background: linear-gradient(to bottom, var(--green), #000);
}

.green-background-transparent-01 {
	@apply bg-[var(--green-transparent-01)];
}

.logo-green-background {
	@apply bg-[var(--logo-green)];
}

.logo-green-background-transparent-01 {
	@apply bg-[var(--logo-green-transparent-01)];
}

.orange-background {
	@apply bg-[var(--orange)];
}

.orange-background-gradient {
	background: linear-gradient(to bottom, var(--orange), #000);
}

.orange-background-transparent-01 {
	@apply bg-[var(--orange-transparent-01)];
}

.primary-background {
	@apply bg-[var(--primary)];
}

.primary-background-gradient {
	background: linear-gradient(to bottom, var(--primary), #000);
}

.primary-background-transparent-005 {
	@apply bg-[var(--primary-transparent-005)];
}

.primary-background-transparent-01 {
	@apply bg-[var(--primary-transparent-01)];
}

.primary-background-transparent-05 {
	@apply bg-[var(--primary-transparent-05)];
}

.primary-light-background {
	@apply bg-[var(--primary-light)];
}

.red-background {
	@apply bg-[var(--red)];
}

.red-background-gradient {
	background: linear-gradient(to bottom, var(--red), #000);
}

.red-background-transparent-01 {
	@apply bg-[var(--red-transparent-01)];
}

.yellow-background {
	@apply bg-[var(--yellow)];
}

.yellow-background-gradient {
	background: linear-gradient(to bottom, var(--yellow), #000);
}

.yellow-background-transparent-01 {
	@apply bg-[var(--yellow-transparent-01)];
}

/*******************/
/*******************/
/******Borders******/
/*******************/
/*******************/

.blue-border {
	@apply border border-[var(--blue)];
}

.bottom-border {
	@apply border-b border-b-[var(--primary-border)];
}

.full-border {
	@apply border border-[var(--primary-border)];
}

.gray-border {
	@apply border border-[var(--gray)];
}

.green-border {
	@apply border border-[var(--green)];
}

.left-border {
	@apply border-l border-[var(--primary-border)];
}

.logo-green-border {
	@apply border border-[var(--logo-green)];
}

.logo-green-border-colour {
	@apply border-[var(--logo-green)];
}

.no-right-border {
	@apply border-r-0;
}

.no-top-border {
	border-top: none;
}

.orange-border {
	@apply border border-[var(--orange)];
}

.primary-border {
	@apply border border-[var(--primary)];
}

.primary-border-colour {
	@apply border-[var(--primary)];
}

.primary-bottom-border-transparent-05 {
	@apply border-b-2 border-[var(--primary-transparent-05)];
}

.primary-horizontal-border {
	@apply border-l border-r border-[var(--primary)];
}

.red-border {
	@apply border border-[var(--red)];
}

.red-bottom-border {
	@apply border-b border-b-[var(--red)];
}

.red-bottom-border-transparent-05 {
	@apply border-b-2 border-[var(--red-transparent-05)];
}

.right-border {
	@apply border-r border-[var(--primary-border)];
}

.top-border {
	@apply border-t border-t-[var(--primary-border)];
}

.yellow-border {
	@apply border border-[var(--yellow)];
}

/*******************/
/*******************/
/******Colours******/
/*******************/
/*******************/

.black-text {
	@apply text-[var(--white)];
}

.blue-text {
	@apply text-[var(--blue)];
}

.gray-text {
	@apply text-[var(--gray)];
}

.green-text {
	@apply text-[var(--green)];
}

.light-slate-gray-text {
	@apply text-[var(--light-slate-gray)];
}

.logo-green-text {
	@apply text-[var(--logo-green)];
}

.orange-text {
	@apply text-[var(--orange)];
}

.primary-text {
	@apply text-[var(--primary)];
}

.red-text {
	@apply text-[var(--red)];
}

.red-text-important {
	@apply !text-[var(--red)];
}

/*****************/
/*****************/
/******Fonts******/
/*****************/
/*****************/

.font-bold-10 {
	@apply text-[10pt] font-bold;
	font-family: var(--bold);
}

.font-bold-11 {
	@apply text-[10pt] font-bold;
	font-family: var(--bold);
}

.font-bold-12 {
	@apply text-base font-bold;
	font-family: var(--bold);
}

.font-bold-14 {
	@apply text-[14pt] font-bold;
	font-family: var(--bold);
}

.font-bold-16 {
	@apply text-[16pt] font-bold;
	font-family: var(--bold);
}

.font-bold-18 {
	@apply text-[18pt] font-bold;
	font-family: var(--bold);
}

.font-bold-20 {
	@apply text-[20pt] font-bold;
	font-family: var(--bold);
}

.font-bold-24 {
	@apply text-[24pt] font-bold;
	font-family: var(--bold);
}

.font-bold-26 {
	@apply text-[26pt] font-bold;
	font-family: var(--bold);
}

.font-bold-28 {
	@apply text-[28pt] font-bold;
	font-family: var(--bold);
}

.font-bold-30 {
	@apply text-[30pt] font-bold;
	font-family: var(--bold);
}

.font-bold-32 {
	@apply text-[32pt] font-bold;
	font-family: var(--bold);
}

.font-general-11 {
	@apply text-[11pt];
	font-family: var(--regular);
}

.font-general-11 > b {
	@apply text-[11pt] font-bold;
	font-family: var(--bold);
}

.font-medium-10 {
	@apply text-[10pt] font-medium;
	font-family: var(--medium);
}

.font-medium-11 {
	@apply text-[11pt] font-medium;
	font-family: var(--medium);
}

.font-medium-12 {
	@apply text-base font-medium;
	font-family: var(--medium);
}

.font-medium-13 {
	@apply text-[13pt] font-medium;
	font-family: var(--medium);
}

.font-medium-14 {
	@apply text-[14pt] font-medium;
	font-family: var(--medium);
}

.font-medium-16 {
	@apply text-[16pt] font-medium;
	font-family: var(--medium);
}

.font-medium-18 {
	@apply text-[18pt] font-medium;
	font-family: var(--medium);
}

.font-medium-20 {
	@apply text-[20pt] font-medium;
	font-family: var(--medium);
}

.font-medium-22 {
	@apply text-[22pt] font-medium;
	font-family: var(--medium);
}

.font-medium-26 {
	@apply text-[26pt] font-medium;
	font-family: var(--medium);
}

.font-medium-8 {
	@apply text-[8pt] font-medium;
	font-family: var(--medium);
}

.font-medium-9 {
	@apply text-[9pt] font-medium;
	font-family: var(--medium);
}

.font-regular-7 {
	@apply text-[7pt] font-normal;
	font-family: var(--medium);
}

.font-regular-8 {
	@apply text-[8pt] font-normal;
	font-family: var(--regular);
}

.font-regular-10 {
	@apply text-[10pt] font-normal;
	font-family: var(--regular);
}

.font-regular-11 {
	@apply text-[11pt] font-normal;
	font-family: var(--regular);
}

.font-regular-12 {
	@apply text-base font-normal;
	font-family: var(--regular);
}

.font-regular-14 {
	@apply text-[14pt] font-normal;
	font-family: var(--regular);
}

.font-regular-16 {
	@apply text-[16pt] font-normal;
	font-family: var(--regular);
}

.font-regular-8 {
	@apply text-[8pt] font-normal;
	font-family: var(--regular);
}

.font-regular-9 {
	@apply text-[9pt] font-normal;
	font-family: var(--regular);
}

.font-semibold-10 {
	@apply text-[10pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-11 {
	@apply text-[11pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-12 {
	@apply text-[12pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-14 {
	@apply text-[14pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-16 {
	@apply text-[16pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-20 {
	@apply text-[20pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-24 {
	@apply text-[24pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-30 {
	@apply text-[30pt] font-semibold;
	font-family: var(--semibold);
}

.font-semibold-40 {
	@apply text-[40px] font-semibold;
	font-family: var(--semibold);
}

/******************/
/******************/
/*******Tags*******/
/******************/
/******************/

.blue-tag {
	@apply bg-[var(--blue)] py-0.5 px-1.5 rounded text-white;
}

.blue-tag-transparent-01 {
	@apply bg-[var(--blue-transparent-01)] border border-[var(--blue)] py-0.5 px-1.5 rounded text-[var(--blue)];
}

.gray-tag-transparent-01 {
	@apply bg-[var(--gray-transparent-01)] border border-[var(--gray)] px-1.5 py-0.5 rounded text-[var(--gray)];
	font-family: var(--regular);
}

.green-tag {
	@apply bg-[var(--green)] py-0.5 px-1.5 rounded text-white;
}

.green-tag-transparent-01 {
	@apply bg-[var(--green-transparent-01)] border border-[var(--green)] py-0.5 px-1.5 rounded text-[var(--green)];
}

.green-tag-transparent-02 {
	@apply bg-[var(--green-transparent-01)] border border-[var(--green)] p-1 rounded text-xs text-[var(--green)];
}

.orange-tag {
	@apply bg-[var(--orange)] py-0.5 px-1.5 rounded text-white;
}

.orange-tag-transparent-01 {
	@apply bg-[var(--orange-transparent-01)] border border-[var(--orange)] py-0.5 px-1.5 rounded text-[var(--orange)];
}

.primary-tag-transparent-01 {
	@apply bg-[var(--primary-transparent-01)] border border-[var(--primary)] p-1 rounded text-xs text-[var(--primary)];
	font-family: var(--regular);
}

.red-tag {
	@apply bg-[#e31937] py-0.5 px-1.5 rounded text-white;
}

.red-tag-transparent-01 {
	@apply bg-[var(--red-transparent-01)] border border-[var(--red)] p-1 rounded text-xs text-[var(--red)];
	font-family: var(--regular);
}

.red-tag-transparent-02 {
	@apply bg-[var(--red-transparent-01)] border border-[var(--red)] py-0.5 px-1.5 rounded text-[var(--red)];
}

/*******************/
/*******************/
/******Buttons******/
/*******************/
/*******************/

.primary-button-condensed {
	@apply bg-[var(--primary)] border border-[var(--primary)] flex h-7 justify-center items-center outline-none px-4 relative rounded select-none space-x-2.5 text-[12pt] text-white;
	font-family: var(--regular);
}

.primary-button-transparent-background {
	@apply bg-[var(--primary-transparent-01)] border flex primary-border h-7 items-center justify-center outline-none px-2 rounded select-none space-x-2.5 text-sm text-[var(--primary)];
	font-family: var(--medium);
}

.primary-button-wide {
	@apply bg-[var(--primary)] block border border-[var(--primary)] h-9 outline-none relative rounded select-none text-[12pt] text-white w-full;
	font-family: var(--regular);
}

.primary-button-condensed:active,
.primary-button-transparent-background:active,
.primary-button-wide:active {
	border: 1px solid rgba(0, 0, 0, 0.7);
	box-shadow: inset -1px -1px 1px 1px var(--primary-transparent-01);
	text-decoration: none;
}

.red-button-transparent-background {
	@apply bg-[var(--red-transparent-01)] border flex red-border h-7 items-center justify-center outline-none px-2 rounded select-none space-x-2.5 text-sm text-[var(--red)];
	font-family: var(--medium);
}

/*********************/
/*********************/
/****Miscellaneous****/
/*********************/
/*********************/

.bottom-shadow {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.06), 0 1px 1px -1px rgb(0 0 0 / 0.06);
	-moz-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.06), 0 1px 1px -1px rgb(0 0 0 / 0.06);
	-webkit-box-shadow: 0 1px 1px 0 rgb(0 0 0 / 0.06), 0 1px 1px -1px rgb(0 0 0 / 0.06);
}

.dashboard-heading {
	@apply text-white text-[16pt];
	font-family: var(--bold);
}

.view-heading {
	@apply text-[var(--primary)] text-[16pt];
	font-family: var(--bold);
}

.dialog-footer {
	@apply bg-[var(--primary-transparent-01)] border-t border-t-[var(--primary-border)] flex items-center justify-center px-5 py-2.5 relative space-x-2 z-10;
}

.dialog-header {
	@apply bg-white flex items-center justify-between px-5 py-1.5 relative text-[16pt] text-[var(--primary)];
	font-family: var(--semibold);
}

.highlight-characters {
	@apply bg-[yellow] border-[0.5px] border-[var(--gray)] font-bold rounded text-black;
	padding-inline: 1px;
}

.hovered-rows-white:hover {
	@apply bg-[var(--primary-light)] rounded-sm text-[var(--primary)];
}

.hovered-rows:hover {
	@apply bg-[var(--primary-transparent-01)] border-t border-[var(--primary-transparent-05)];
}

.hovered-rows-2:hover {
	@apply bg-[var(--primary-transparent-01)] border-b border-[var(--primary-transparent-05)];
}

.inputs {
	@apply bg-transparent flex items-center justify-center outline-none px-2.5 text-[11pt] h-9 black-text w-full;
	font-family: var(--regular);
}

.login-heading {
	@apply text-[var(--primary)] text-[28pt];
	font-family: var(--bold);
}

.login-spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	margin-top: -7.5px;
	margin-left: -7.5px;
	border-radius: 50%;
	border: 2px solid #fff;
	border-top-color: var(--primary);
	animation: spinner 0.5s linear infinite;
}

.scrollbar-gutter {
	scrollbar-gutter: stable;
}

.small-spinner-white:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #fff;
	animation: spinner 0.5s linear infinite;
}

.small-spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	margin-left: -8px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: var(--primary);
	animation: spinner 0.5s linear infinite;
}

.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: var(--primary);
	animation: spinner 0.5s linear infinite;
}

.textarea-inputs {
	@apply bg-transparent flex items-center justify-center outline-none px-2.5 resize-none text-[11pt] black-text w-full;
	font-family: var(--regular);
}

#invoicePreviewWrapper > #invoiceWrapper,
#rvPreviewWrapper > #rvWrapper {
	width: 100%;
}

.flip-card {
	perspective: 1000px;
	width: 100%;
	height: 160px;
	position: relative;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.6s ease;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 0.5rem;
}

.flip-card-back {
	transform: rotateY(180deg);
}

.flip-card:hover .flip-card-back {
	opacity: 1;
}

.wrap-text {
	overflow-wrap: anywhere;
}

/*****************/
/*****************/
/****3rd Party****/
/*****************/
/*****************/

.react-datepicker {
	@apply !text-[9pt];
	font-family: var(--regular) !important;
}

.react-datepicker-popper {
	@apply !z-[60];
}

.react-datepicker-wrapper {
	@apply !pl-[5px] !w-full;
}

.Toastify__toast-body {
	font-family: var(--medium);
	font-size: medium;
	white-space: pre-line;
}

/*********************/
/*********************/
/***Native Elements***/
/*********************/
/*********************/

@keyframes blink-fade-animation {
	0% {
		opacity: 1; /* Fully visible */
	}
	50% {
		opacity: 0; /* Fully invisible (fade-out) */
	}
	100% {
		opacity: 1; /* Fully visible again (fade-in) */
	}
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background-color: #f0f0f0;
	border-radius: 4px;
}

/******************/
/******************/
/***Modules Tabs***/
/******************/
/******************/

.tabs {
	display: flex;
	position: relative;
	padding: 12px;
	border-radius: 99px;
	overflow: hidden;
	color: #ffffff;
}

.tabs * {
	z-index: 2;
	color: #ffffff;
}

input[type="radio"] {
	display: none;
}

.tab {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	padding: 0 10px;
	border-radius: 99px;
	cursor: pointer;
	color: #ffffff;
	transition: color 0.15s ease-in;
	text-align: center;
}

input[type="radio"] + label {
	color: #ffffff;
}

input[type="radio"]:checked + label {
	color: var(--primary);
}

.glider {
	position: absolute;
	display: flex;
	height: 30px;
	color: #ffffff;
	background-color: #ffffff;
	z-index: 1;
	border-radius: 99px;
	opacity: 1;
	display: block;
	transition: transform 0.25s ease-out, width 0.25s ease-out;
}

.shrink {
	transition: all 0.3s ease;
}

.shrink:hover {
	transform: scale(0.8); /* Shrinks the card to 80% of its original size */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.zoom-rotate-left {
	transition: transform 0.2s ease-in-out !important;
}

.zoom-rotate-left:hover {
	transform: scale(1.25) rotate(-5deg) !important;
}

.zoom-rotate-right {
	transition: transform 0.2s ease-in-out !important;
}

.zoom-rotate-right:hover {
	transform: scale(1.25) rotate(5deg) !important;
}

/* Put in your CSS file or use Tailwind plugins if you prefer */

.bounce-animate {
	transition: transform 0.25s ease;
}

.bounce-up {
	animation: bounceUp 0.25s ease;
}

.bounce-down {
	animation: bounceDown 0.25s ease;
}

@keyframes bounceUp {
	0% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounceDown {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}

/* Bounce effect on row change */
/* Bounce effect */
@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.bounce-effect {
	animation: bounce 0.3s ease-out;
}

/* Transition effect for moved rows */
.transition-transform {
	transition: transform 0.2s ease-out;
}

/* Optionally, you can also apply a smooth effect when dragging */
.dragged {
	opacity: 0.5;
}

/* Shared base */
.anim {
	opacity: 0;
	transform: scale(1); /* Default state */
	will-change: transform, opacity;
	animation-duration: 0.6s; /* Duration for each animation */
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); /* Elastic effect */
}

/* Unique animation keyframes for each direction */
@keyframes fadeInTopLeft {
	from {
		opacity: 0;
		transform: translate(-30px, -30px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeInBottomRight {
	from {
		opacity: 0;
		transform: translate(30px, 30px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fadeInTopRight {
	from {
		opacity: 0;
		transform: translate(30px, -30px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.gradient-hr {
	border-width: 0.5px;
	height: 1px;
	width: 100%;
	margin: 2rem auto;
	background: linear-gradient(to right, transparent, var(--primary-transparent-05), transparent);
	opacity: 0.6;
	border-radius: 999px;
}

/* Classes to apply */
.fade-in-top-left {
	animation-name: fadeInTopLeft;
}
.fade-in-left {
	animation-name: fadeInLeft;
}
.fade-in-bottom-right {
	animation-name: fadeInBottomRight;
}
.fade-in-top-right {
	animation-name: fadeInTopRight;
}
.zoom-in {
	animation-name: zoomIn;
}

.row-fade {
	opacity: 0;
	transform: translateY(10px);
	transition: all 0.4s ease-out;
}
.row-fade.shown {
	opacity: 1;
	transform: translateY(0);
}

@keyframes fadeInBottomLeft {
	from {
		opacity: 0;
		transform: translate(-30px, 30px);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}
.fade-in-bottom-left {
	animation-name: fadeInBottomLeft;
}

/* 2. slideInDown */
@keyframes slideInDown {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
.slide-in-down {
	animation-name: slideInDown;
}

/* 3. fadeInDown */
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.fade-in-down {
	animation-name: fadeInDown;
}
